<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/static/genericStyle.css">
    <link rel="stylesheet" type="text/css" href="/static/home.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:900|Work+Sans:300">
</head>
<script>
    function homeClick() {
        location.href = "/"
    }
    function wheelClick() {
        location.href = "/SpinTheWheel"
    }
    function nbaClick() {
        location.href = "/NBA"
    }
    function adventureClick() {
        location.href = "/AdventureChallenge"
    }
</script>
<body>
    <div class="header">
        <h1>Well, Hello There</h1>
        <button id="homeButton" onClick="homeClick()">Home</button>
    </div>
    <div class="buttonContainer">
        <button id="wheelButton" type="button" onClick="wheelClick()">Spin The Wheel</button>
        <button id="nbaButton" type="button" onClick="nbaClick()">NBA</button>
        <button id="adventureButton" type="button" onClick="adventureClick()">Adventure Challenge</button>
    </div>
    <footer id="copyright">&copy Copyright 2021 Millmyster</footer>
</body>
</html>