<!DOCTYPE html>
<html>
<head>
    <title>Spin The Wheel</title>
    <link rel="stylesheet" type="text/css" href="/static/genericStyle.css">
    <link rel="stylesheet" type="text/css" href="/static/spinTheWheel.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:900|Work+Sans:300">
</head>
<script>
    function homeClick() {
        location.href = "/"
    }
    function backClick() {
        location.href = "/SpinTheWheel"
    }
</script>
    <body>
        <div class="header">
            <h1>Film</h1>
            <button id="homeButton" onClick="homeClick()">Home</button>
        </div>
        <button id="backButton" onClick="backClick()">Back</button>
        <div id="resultBlock">
            <p id="movieLogo">
                <img src="{{film_logo}}">
            </p>
            <div id="resultInfo">
                <p id="result">{{result}}</p>
                <div id="providerLogos">
                    <p id="appleLogo"><img src="{{apple_logo}}"></p>
                    <p id="disneyLogo"><img src="{{disney_logo}}"></p>
                    <p id="netflixLogo"><img src="{{netflix_logo}}"></p>
                    <p id="primeLogo"><img src="{{prime_logo}}"></p>
                </div>
            </div>
        </div>
         <div id="spinAgainContainer">
            <button id="spinAgain" onclick="window.location.reload();">Spin Again</button>
        </div>
        <footer id="copyright">&copy Copyright 2021 Millmyster</footer>
    </body>
</html>
